* {
  margin: 0;
  padding: 0;
}

body {
  color: #1d1f21;
  font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  transition: all 300ms;
}

header {
  background-color: #f5f6f7;
}

header nav a {
  color: #36383b;
}

header nav a:hover {
  color: #2a5bd7;
}

.error h1 {
  font-family: "ProximaNova Bold";
}

.error p {
  font-family: "ProximaNova Light";
}
